
.screen .screen-content{
    max-width: 90%;
}
.ui-autocomplete
{
    position:absolute;
    width: 800px;
    cursor:default;
    z-index:1001 !important;
    background-color: #F0EEEE;
}
.ui-menu-item {
    color: chocolate;
    font-size: 16px;
    cursor: pointer;
    width: 800px;
}
.ui-menu-item.ui-state-focus {
    color: green;
    font-size: 16px;    
    cursor: pointer;
}

.pos .searchbox input {
    width: 250px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    padding-left: 38px;
    margin: 6px;
    background: url("../img/search.png") no-repeat 15px;
    background-color: white;
    border-radius: 20px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
}

.pos .pos-sale-ticket {
    text-align: left;
    width: 365px;
    background-color: white;
    margin: 8px;
    padding: 15px;
    font-size: 12px !important;
    padding-bottom:30px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
}

.pos .button-scroller{
    width:100%;
    height:100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


.pos .modal-dialog .popup.model-textarea-input{
    width:600px;    
}

.pos_underline{
	text-decoration: underline;
}


.timeline > li::after {
    clear: none;
}

.pos .order .orderline .qty-info{
	color: #777;
	font-weight: bold;
	font-style: normal;
}
.pos .order .orderline .qty-info.not-available{
	color:red;
}
    
.item-selected {
    border: 2px solid #6EC89B !important;
}


.pos .price_list {
    color: #6EC89B;
}

.pos .client-detail {
    padding-top: 1px;
}
.pos .label {
    color: black;
}
.pos .payment-numpad .numpad {
    width: 350px;
}
.pos .payment-numpad .numpad {
    border-top: none;
}
.pos .product-list {
    padding: 2px;
    text-align: center;
    background: white;
}
.pos .numpad {
    border-top: 1px solid;
    width: 440px;
    margin: 0px;
}
.pos .numpad button {
    float: left;
    height: 50px;
    width: 55px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
}
.pos .actionpad {
    width: 440px;
    margin: 0px;
    float: inherit;
    border-top: 0px solid;
    border-left: 0px solid;
}

.pos .actionpad .button.pay {    
    width: 30%;
    height: 60px;
}

.pos .actionpad .button.set-customer {    
    float: left;
    width: 70%;
    height: 60px;
    padding-left: 50px;
    font-size: 16px;
    text-align: left;
}

.pos .actionpad .button .fa-user {    
    font-size: 30px;    
}

.pos .actionpad .button.pay .pay-circle {
    display: block;
    font-size: 32px;
    line-height: 36px;
    
    padding-top: 6px;
    background: rgb(86, 86, 86);
    color: white;
    width: 60px;
    
    border-radius: 30px;
    margin-bottom: 0px;
}

.pos .payment-buttons {
    width: 45%;
}

.pos .category-simple-button {
    background: white;
}

.screen .top-content {
    height: 100px;
}

.screen .right-content {
    top: 100px;
}

.screen .centered-content {
    top: 100px;
}
.pos .oe_status {
    float: left;
    font-style: normal;
}
.pos .clientlist-screen .client-details {
    height: 360px;
}
.pos .product .qty_available {
    position: absolute;
    float: left;
    left: 0px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #6EC89B;
    padding: 2px 5px;
    text-align: left;
    font-size: 12px;
    border-radius: 2px;
}
.pos .product .qty_not_available {
    position: absolute;
    float: left;
    left: 0px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: red;
    padding: 2px 5px;
    text-align: left;
    font-size: 12px;
    border-radius: 2px;
}
.pos .leftpane {    
    width: 440px;
    left: 220px;
}

.pos .buttons_pane {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    left: 0px;    
    width: 220px;
    border-right: none;
    background: white;
}

.pos .button-list > button.aarsol-btn {
    height: 60px;
    width: 48%;
    text-align: center;
    font-size: 18px;
    border: 1px solid;
    border-radius: 3px;
    position: relative;
    padding: 1px;
    margin: 1px;
    font-weight: 400;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);    
}

.pos .button-list > button.aarsol-btn .key-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    line-height: 13px;
    padding: 2px 5px;   
}

.key-note {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    line-height: 13px;
    padding: 2px 5px;   
}

.pos .button-list > button.aarsol-btn.btn-success{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
} 
.pos .button-list > button.aarsol-btn.btn-default{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.pos .button-list > button.aarsol-btn.btn-warning{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.pos .button-list > button.aarsol-btn.btn-danger{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.pos .button-list > button.aarsol-btn.btn-info{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.pos .button-list > button.aarsol-btn.btn-primary{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}	
.pos .button-list > button > span.aarsol-btn-txt{    
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0; 
    color: crimson;  
}
.pos .button-list > button.aarsol-btn.btn-success > span.aarsol-btn-txt{ 
	color: #fff;
}
.pos .button-list > button.aarsol-btn.btn-default > span.aarsol-btn-txt{ 
	color: #333;
}
.pos .button-list > button.aarsol-btn.btn-warnng > span.aarsol-btn-txt{ 
	color: #fff;
}
.pos .button-list > button.aarsol-btn.btn-danger > span.aarsol-btn-txt{ 
	color: #fff;
}
.pos .button-list > button.aarsol-btn.btn-info > span.aarsol-btn-txt{ 
	color: #fff;
}
.pos .button-list > button.aarsol-btn.btn-primary > span.aarsol-btn-txt{ 
	color: #fff;
}

    
.pos .button-list > button:hover {
    background: #447DF7;
    color: white;
}

.pos .button-list {
    text-align: left;
}
.pos .rightpane {
    left: 660px;
    border-right: none;
    border-right: white;
}

.pos .form-control .voucher-select .detail {
    height: 150px;
}

.pos .button-list2 > button {
    background: white;
    color: green;
}
.pos .pos-branding {
    font-style: normal;
    color: white;
    background-color: cadetblue;
}
.pos .amount_total {
    font-size: 12px;
    color: white;
}
.pos .count_item {
    font-size: 12px;
    color: white;
}
.pos .pos-branding .username {
    font-size: 12px;
    color: white;
}

.pos .product {
    border-bottom-width: 1px;
    margin: 2px !important;
}

.pos .product .product-name {
	padding-right: 0px;
}

.pos .product .product-code {
    position: absolute;
    
    right: -35px;
    top: 35px;
    line-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
   
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    
    padding: 3px;
    padding-top: 15px;
    
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 9px;
}

.pos .powered_by{
	color:white;
	 text-transform: uppercase;
	 font-size: 16px;
	 margin-top: 15px;
	 white-space: nowrap;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pos .product-list {
    text-align: left;
}

.pos .loader-feedback h1 {
    font-size: 20px;
    color: orangered;
}

@font-face {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.pos {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.item-selected {
    border: 2px solid #6EC89B !important;
}
body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.pos .wallet {
    color: crimson;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}
.pos .credit {
    color: blueviolet;
    font-size: 14px;
    font-weight: bold;
}

/*.pos .clientlist-screen .client-detail > .label {*/
    /*width: 150px;*/
/*}*/

.pos .invoice-action {
    cursor: pointer;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pos .confirm-logout {
    margin-top: 10px;
    color: orangered;
}
.pos .pos_signature {
    background: #4caf50;
    margin-bottom: 40px;
    margin-left: 22px;
    margin-right: 22px;
}

.pos .so_link {
    color: blue;
}

.pos .so_info {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: oblique;
    color: blue;
}

.pos .select-currency {
    background: white;
    color: blueviolet;
}

.pos .currency-rate {
    color: orangered;
    font-size: 14px;
}

.pos .select-currency {
    background: white;
    color: blueviolet;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.pos .currency-rate {
    color: blueviolet;
    font-size: 14px;
}

.pos .currency-covert {
    color: blueviolet;
    font-size: 14px;
}

.pos .multi-currency {
    width: 70%;
    border-bottom: dashed 1px gainsboro;
    margin-left: 20px;
    padding-right: 40px;
}
.pos .order .orderline .uom_change {
    text-align: left;
    width: 100%;
    font-size: 80%;
    color: blueviolet;
}

.pos .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_not_available {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .product_not_available span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: red;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .product_not_available span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_not_available span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_available {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 200px;
    text-align: center;
}

.pos .product_available span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.pos .product_available span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .product_available span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.pos .paymentline. item {
    font-size: 14px;
}

.pos .return_line {
    color: red;
}

.pos .draft {
    color: orangered;
}

.pos .list-line {
    margin: auto;
    bottom: 0px;
    max-width: 800px;
}

.pos .order-note-information {
    margin: 16px;
    text-align: left;
    background: rgba(110, 200, 155, 0.17);
    border-radius: 5px;
    padding: 10px;
}

.pos .order-note {
    color: darkviolet;
}
.pos .note {
    vertical-align: top;
    display: inline-block;
    font-size: 10px;
    margin: 8px !important;
    width: 50px;
    height: 20px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}
.pos .tooltip-info {
    font-size: 14px;
    font-style: normal;
    color: #6EC89B !important;
    text-align: left
}
.pos .line-variant {
    font-size: 14px;
    color: #6EC89B;
    padding-top: 5px;
    padding-left: 10px;
}
.item-selected {
    border: 2px solid #6EC89B !important;
}

.pos .clientlist-screen .button.new-product {
    left: 50%;
    margin-left: 120px;
}

.pos .promotion-item {
    font-size: 12px;
    font-style: normal;
    color: darkviolet;
    padding-top: 5px;
    padding-left: 10px;
    line-height: 1.0em;
}

.pos .label-lot {
    font-size: 14px;
    padding-left: 10px;
    float: left
}

.pos .popup input, .pos .popup-input {
    width: 90%;
}

.pos .voucher {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 20px;
}

.pos .voucher-label {
    font-size: 14px;
    float: left;
    padding-left: 24px;
}

.pos .voucher-form-error {
    background: red;
}

.pos .voucher-select {
    width: 90%;
    padding: 5px !important;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}

.pos .voucher-form-required {
    color: red;
}

.pos .pads {
    height: 30%;
}

.pos .table {
    width: 100%;
}

.pos .info_tooltip {
    top: 50px;
}
.pos .popup_note {
    max-width: 350px;
}
.pos .image-row {
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
}
.pos .timeline.timeline-simple {
    margin-top: 0px;
    padding: 0 0 0px;
}
.timeline-heading {
    margin-bottom: 3px;
}
.pos .quickly_buttons {
    padding-bottom: 50px;
}
.pos .product-list-re-comment {
    height: 120px;
    max-height: 120px;
    background: #ff9800;
    padding: 5px;
    margin: 5px;
    display: flex;
    vertical-align: top;
    overflow: auto;
    overflow-x : scroll;
    margin-left: 5px;
    border-radius: 10px;
}

.pos .product .price-tag-left {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}


.pos .product .price-tag-right {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-tag-bottom-left {
    position: absolute;
    bottom: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-tag-bottom-right {
    position: absolute;
    bottom: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
.pos .order-container {
    border-left: solid 3px rgb(110, 200, 155);
    border-right: solid 3px rgb(110, 200, 155);
    width: 99%;
}
.pos .client-details-contents {
    top: 10px;
}
.pos .clientlist-screen .client-details-left{
    width: 48%;
    float: left;
}
.pos .clientlist-screen .client-details-right{
    width: 45%;
    float: right;
}
.pos .clientlist-screen .client-name {
    font-size: 24px;
    line-height: 48px;
    margin-bottom:4px;
}
.pos .clientlist-screen .client-detail{
    line-height: 20px;
}

.pos .clientlist-screen .shopping-list{
    font-size: 14px;
    width: 100%;
    line-height: 30px;
}
.pos .clientlist-screen .shopping-list th,
.pos .clientlist-screen .shopping-list td {
    padding: 0px 8px;
}
.pos .clientlist-screen .shopping-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .clientlist-screen .shopping-list thead > tr,
.pos .clientlist-screen .shopping-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .clientlist-screen .shopping-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .clientlist-screen .shopping-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .clientlist-screen .shopping-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}


.pos .screen {
    overflow: initial;
}
.pos .add_promotions {
    height: 30px;
    top: 0px;
    margin: 4px 1px;
    border-radius: 8px;    
}
.pos .remove_promotions {
    height: 30px;
    top: 0px;
    margin: 4px 1px;
    border-radius: 8px; 
}
.pos .return-order {
    height: 30px;
    width: 80px;
}
.pos .made-invoice {
    height: 30px;
    width: 80px;
}
.pos .register-amount {
    height: 30px;
    width: 80px;
}
.pos .reprint-order {
    height: 30px;
    width: 80px;
}
.pos .pos_detail {
    padding-top: 30px;
}
.pos .order .loyalty {
    width: 100%;
    text-align: left;
    max-width: 220px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
.pos .line_redeem_point {
    color: red;
    font-size: 12px;
    float: right;
    font-style: italic;
}
.pos .line_plus_point {
    color: #6EC89B;;
    font-size: 12px;
    float: right;
    font-style: italic;
}
.pos .loyalty_plus_point {
}
.pos .loyalty_redeem_point {
}
.pos .loyalty_remaining_point {
    border-top: solid 1px rgb(110, 200, 155);
}
.pos .loyalty_next_point {
    border-top: solid 1px rgb(110, 200, 155);
}
.pos .plus_point {
    float: right;
}
.pos .redeem_point {
    float: right;
}
.pos .remaining_point {
    color: #0a0a0a;
}
.pos .next_point {
    float: right;
    color: #0a0a0a;
}
.pos .modal-dialog .popup {
    background-color: white;    
}
.pos .shipping_information {
    width: 100%;
    margin-left: 20px;
    text-align: left;
    font-size: 14px;
    border-top: solid 1px rgb(110, 200, 155);
    color: #888;
}
.pos .button_left {
    right: 290px
}
.pos .button_bottom {
    right: 130px
}
.pos .button_right {
    right: 0px
}
.pos .lines_detail {
    overflow: auto !important;
    height: 170px;
}
.pos .state {
    color: #00c853;
}
.pos .notification {
    top: 5px;
    border: 1px solid #FFF;
    right: 10px;
    font-size: 14px;
    background: unset;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
}
.pos .booked_orders {
    color: black;    
    height: 20px;
    vertical-align: middle;
}
.pos .orderline_image {
    width: 25px;
    height: 25px;
    border-radius: 5px !important;
    border-color: darkviolet;
    vertical-align: top;
}


.pos .lock-dialog{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
}
.pos .lock-dialog .lock_popup{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width:0px;
    height:0px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif
}
.pos .pos-rightheader > * {
    border-right: 0px solid #292929;
}
.pos .product .price-tag {
    top: 0px;
    right: 0px;
    padding: 0px 0px;
}

.pos .paymentline .refresh-rounding-button{
    cursor: pointer;
    text-align: center;
}
.screen .left-content.pc40 {
    right: 50%;
    left: 30%;
    width: 20%;
}
.screen .right-content.pc60 {
    left: 50%;
}

.screen .order-content {
    position: absolute;
    left: 0px;
    top: 80px;
    bottom: 0px;
    right: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: dashed 1px rgb(215,215,215);
}

.screen .order-content.pc40 {
    right: 70%;
}

.pos .order .summary .total {
    font-size: 16px;
    float: right;
    color: #4caf50
}
.pos .order .summary .line .subentry > span {
    float: right;
}
.pos .order .summary .line {
    border-top: none;
}
